.search-container {
    background-color: mediumslateblue;
    display: flex;
    height: 45px;
    align-items: center;
    margin-top: 5px;
}

.search-container input {
    flex: 1;
    border: none;
    padding-left: 10px;
    height: 45px;
}

.search-container input:focus {
    outline: none;
}

::placeholder{
    color: grey;
    font-size: 20px;
    margin-bottom: 0;
}

.search-icon {
  background: linear-gradient(90deg, #fc45c5 0%, #fc4584 76%);
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon .MuiSvgIcon-root {
  font-size: 36px;
}